h1 {
  border: #394456 solid 2px;
  padding: 4px;
  background-color: black;
  text-align: center;
  text-shadow: 2px;
  color: white;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-style: italic;
}

.sidebar {
  border: #394456 solid 2px;
  padding: 4px;
  background-color: black;
  text-align: left;
  text-shadow: 2px;
  color: white;
  margin-right: 50em;
  float: left;
  line-height: 2em;
  border-radius: 10px;
}

body {
  background-color: #345c9e;
}

p.special {
  line-height: 1.2em;
  font-family: fantasy;
  font-size: 1em;
  margin-top: 1.2em;
}

img {
  float: right;
  margin-top: 2em;
}
.push-right {
  float: right;
}
